body{
    margin: 0;
    height: fit-content;
    overflow: hidden;
}
.no-select{
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}


#myCanvas{
    height: 100dvh;
    width: 100vw;
    display: block;
}
#canvas_container{
    width: fit-content;
    position: relative;
    overflow: hidden;
}
#direction_parent{
    width: 100%;
    height: 70px;
    position: absolute;
    top: 0;
    display: flex;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    /* background-color: rgba(0, 255, 255, 0.334); */
    pointer-events: none;
}
.directions{
    position: absolute;
    transform: translateX(-50%);
    height: 70px;
    opacity: 0.7;
}
#angle_parent{
    height: 100%;
    width: 60px;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    overflow: hidden;
    /* background-color: #d74443; */
}
.angles{
    font-size: 20pt;
    text-align: right;
    color: #e2e67d;
    font-family: "nikokaku";
    position: absolute;
    transform: translateY(-50%);
    opacity: 0.7;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
#star_name{
    position: absolute;
    left: 20px;
    bottom: 10px;
    width: 350px;
    transform-origin: bottom left;
}
@font-face {
    font-family: "nikokaku";
    src: url("./fonts/nicokaku_v2-5.ttf") format("truetype");
}
@font-face{
    font-family: "Xim-Sans";
    src: url("./fonts/Xim-Sans-Brahmic.ttf") format("truetype");
}
@font-face{
    font-family: "れいこ";
    src: url("./fonts/れいこフォント.TTF") format("truetype");
}

.firstQ_child,.japan_option_child,.world_option_child,#warn_past,#info_operate,#gyro_settings,
#select_galaxy{
    font-family: "nikokaku";
    font-size: 27pt;
    cursor: pointer;
    border-radius: 20px;
    /* background-color: rgba(0, 255, 255, 0.328); */
    background-color: #4c59ab67;
    border: 4px solid;
    border-top-color: #d74443;
    border-left-color: #e0e34c;
    border-right-color:#e2e67d;
    border-bottom-color:#eccbdc;
    color: #92c1e4;
    padding: 20px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}


#change_location{
    bottom: 110px;
}

#location_firstQ{
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    gap: 20px;
}
.firstQ_child{
    width: 330px;
    text-align: center;
    font-size: 30pt;
    position: relative;
    top:0;
    left: 0;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

#japan_option,#world_option{
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    gap: 20px;
    flex-wrap:wrap;
    justify-content: center;
}
.japan_option_child,.world_option_child{
    width: 100px;
    text-align: center;
    vertical-align:middle;
    font-size: 20pt;
    top:0;
    left: 0;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
.world_option_child{
    width: 160px;
}
#supplement_info{
    font-size: 16pt;
}
#show_time_and_location{
    position: absolute;
    width: 380px;
    cursor: auto;
    color: #92c1e4;
    font-family: "nikokaku";
    font-size: 15pt;
    right: 0px;
    bottom: 5px;
    & p{
        margin: 5px;
    }
}
#change_constellation_name{
    bottom: 200px;
}
#warn_past{
    position: absolute;
    text-align: center;
    cursor: auto;
    top: 50%;
    left: 50%;
    height: fit-content;
    transform: translateX(-50%) translateY(-50%);
    background-color: #4c59abCC;
    display: none;
    & h1{
        color: #e0e34c;
    }
    & p{
        font-size: 30pt;
        margin: 0;
    }
    & #close_parent{
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 44px;
        & div{
            position: absolute;
            height: 7px;
            width: 40px;
            background-color: #d74443;
            transform-origin: center center;
        }
        & #close1{
            rotate: 45deg;
        }
        & #close2{
            rotate: -45deg;
        }
    }
}

/* #telescope_filter{
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: none;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
} */
#telescope_filter{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(
        circle,
        transparent 0%,
        transparent 55vmin,
        rgba(53, 0, 131, 0.758) 55vmin,
        rgba(53, 0, 131, 0.758) 60vmin,
        rgba(0, 0, 40, 0.589) 70vmin,
        rgba(0, 0, 40, 0.95) 100%
    );
    pointer-events: none;
    z-index: 1;
    display: none;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
.opacity_animation{
    animation: opacity_animation 3s forwards;
}
.size_animation{
    animation: size_animation 3s forwards ease;
}
@keyframes opacity_animation{
    from{
        opacity: 0;
        filter: blur(10%);
    }
    to{
        opacity: 0.7;
        filter: blur(0%);
    }
}
@keyframes size_animation{
    0%{
        width: 50%;
        height: 80%;
        opacity: 0;
        filter: blur(10%);
        /* rotate: 360deg; */
    }
    70%{
        width: 65%;
        height: 120%;
        /* rotate: 0deg; */
    }
    100%{
        width: 65%;
        height: 120%;
        opacity: 1;
        filter: blur(0%);
    }
}
#info_icon{
    position: absolute;
    bottom: 10px;
    left: 270px;
    height: 5%;
    z-index: 1;
    cursor: pointer;
    display: none;
    background-color: #92c1e4;
    border-radius: 40%;
}
#gyro_setting_icon{
    display: block;
    bottom: 70px;
    right: 70px;
    position: absolute;
    height: 7%;
    z-index: 1;
    cursor: pointer;
    display: block;
    background-color: #92c1e4;
    border-radius: 40%;
}
#info_operate,#gyro_settings{
    position: absolute;
    text-align: left;
    cursor: auto;
    top: 50%;
    z-index: 10000;
    left: 50%;
    height: fit-content;
    transform: translateX(-50%) translateY(-50%);
    background-color: #4c59ab68;
    display: none;
    color: white;
    border-bottom-color:#92c1e4;
    & h1{
        text-align: center;
        color: #eccbdc;
        margin: 10px;
    }
    & p{
        font-size: 20pt;
        margin: 0;
    }
    & #close_parent_info{
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 44px;
        & div{
            position: absolute;
            height: 7px;
            width: 40px;
            background-color: #d74443;
            transform-origin: center center;
        }
        & #close1_info{
            rotate: 45deg;
        }
        & #close2_info{
            rotate: -45deg;
        }
    }
    & #switch_area3,#switch_area3_2{
        margin: auto;
    }
}
#gyro_settings{
    display: none;
    z-index: 200;
    padding: 70px;
    padding-top: 10px;
    & h1{
        margin: 30px;
    }
    
    & #close_parent_settings{
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 44px;
        & div{
            position: absolute;
            height: 7px;
            width: 40px;
            background-color: #d74443;
            transform-origin: center center;
        }
        & #close1_settings{
            rotate: 45deg;
        }
        & #close2_settings{
            rotate: -45deg;
        }
    }
}

#galaxy_img{
    display: none;
    position: absolute;
    opacity: 0;
    z-index: 0;;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    /* width: 116vmin;
    height: 110vmin; */
    transform-origin: 0% 0%;
    /* animation: rotation 3s infinite linear; */
}
@keyframes rotation{
    0%,100%{
        opacity: 0.9;
    }
    50%{
        opacity:1;
    }
}
/* #galaxy_container{
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
} */
#select_galaxy{
    background-color: #eccbdcd4;
    border-bottom-color: #4c59ab;
    color: white;
    cursor: auto;
    display: none;
    position: absolute;
    height: fit-content;
    z-index: 2;
    /* background-color: #d74443; */
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    & h1{
        text-align: center;
        margin-bottom: 7px;
    }
}
#galaxy_container_song{
    margin: auto;
    position: relative;
    display: flex;
    align-content: center;
    height: fit-content;
    justify-content: center;
}
div:has(audio){
    display: none !important;
}
#galaxy_container_left,#galaxy_container_right{
    position: relative;
    display: block;
    & .song_button_wrapper div:not(.back_song_button){
        cursor: pointer;
        position: absolute;
        display: flex;
        z-index: 3;
        left: 30px;
        bottom: 20px;
        /* background-color: #92c1e4; */
        
        color: white;
        padding: 10px;
        /* border-radius: 5px; */
        /* border-bottom: 4px solid #6b90ad; */
        box-shadow: 0 3px 5px white;
        position: relative;
        top: 0;
        left: 0;
        margin: 65px 20px;
        font-size: 22pt;
        padding-left: 1.1em;
        overflow: hidden;
    }
    & .song_button_wrapper div:not(.back_song_button)::before{
        content: "";
        position: absolute;
        inset: 0;
        background-image: url(./imgs/tanzaku_me.png);
        background-repeat:no-repeat;
        background-position: center left;
        background-size: cover;
        z-index: -1;
        background-image: url(./imgs/tanzaku_mi.png);
        user-select: none;
        -webkit-user-select: none;
        -webkit-touch-callout: none;
    }
    & div:active{
        box-shadow: 0 0 0;
        transform: translateX(-2px) translateY(2px);
    }
}
.back_song_button{
    position: absolute;
    inset: 0;
    background-image: url(./imgs/tanzaku_mi.png);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
    z-index: 0;
    transform-origin: bottom left;
    transition: transform 0.2s ease;
    filter: contrast(1.5);
    pointer-events: none; /* hoverの邪魔をしない */
    width: 100%;
    height: 100%;
    overflow: hidden;
    & span{
        color: #4c59ab;
        font-size: 17pt;
        position: absolute;
        top: 0;
        right: 0;
    }
}
.song_button_wrapper {
    position: relative;
    overflow: visible;
}
.song_button_wrapper:hover .back_song_button{
    transform: rotate(-10deg);
}
@keyframes fade_out{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
@keyframes fade_in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.fade_out{
    animation: fade_out 1s forwards linear;
}
.fade_in{
    animation: fade_in 1s forwards linear;
}

#start_observe{
    cursor: pointer;
    position: absolute;
    display: none;
    z-index: 3;
    left: 10px;
    bottom: 20px;
    background-color: #92c1e4;
    color: white;
    padding: 5px;
    border-radius: 5px;
    border-bottom: 4px solid #6b90ad;
    box-shadow: 0 3px 5px white;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    & img{
        opacity: 0.8;
        margin: auto;
        height: 60px;
        margin-right: 10px;
    }
    & p{
        font-family: "nikokaku";
        font-size: 20pt;
        background-color: #076fc081;
        border-radius: 5px;
    }
}

#start_observe:active{
    box-shadow: 0 0 0;
    transform: translateX(-2px) translateY(2px);
}
#start_observe::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(./imgs/telescope.png);
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: -1;
    transform: scaleX(-1);
}

#observe_gauge{
    position: absolute;
    cursor: auto;
    display: none;
    left:40px;
    top: 50%;
    border: #60717e 8px groove;
    z-index: 3;
    transform: translateY(-50%);
    background:linear-gradient(#00182a,#004a82,#92c1e4);
    width: 5%;
    height: 70%;
}
#observe_gauge img.back_star{
    position: absolute;
    width: 10px;
    height: 10px;
    pointer-events: none;
    opacity: 0.8;
    z-index: -1;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
#gauge_mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#60717e,#8e9fab,#50738e);
}
#gauge_star{
    /* filter: hue-rotate(38deg) saturate(3); */
    position: absolute;
    height: 12%;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
}
.beat_animation_star{
    animation: beat_animation_star 0.1s forwards linear;
}
@keyframes beat_animation_star{
    0%,100%{
        transform: translateX(-50%) translateY(calc(-100%));
    }
    50%{
        transform: translateX(-50%) translateY(calc(-100% + 5px));
    }
}

#change_time,#change_location,#change_constellation_name,#set_now,#return_set_time,#return_change_location,#agree_return,#disagree_return,#take_picture,#run_save,#save_return,#return_galaxy,#agree_return_galaxy,#disagree_return_galaxy,#go_observe,#change_color,#decide_tanzaku,#change_line_color,#escape_explanation{
    position: absolute;
    border: none;
    background: none;
    border-radius: 0;
    z-index: 2;
    font-family: "nikokaku";
    
    cursor: pointer;
    overflow: hidden;
    bottom: 20px;
    left: 30px;
    min-width: 280px;
    text-align: center;


        color: #92c1e4;

        font-size: 20pt;
        padding: 20px;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

#change_time::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(./imgs/tanzaku_ka.png);
    background-repeat:no-repeat;
    background-position: center left;
    background-size: cover;
    z-index: -1;
}
/* #change_time::after{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(./imgs/tanzaku_ka.png);
    background-repeat:no-repeat;
    background-position: center left;
    background-size: cover;
    z-index: -2;
    transform-origin: bottom left;
    
    filter: contrast(1.5);
}
#change_time:hover::after{
    transform: rotate(-5deg);
    
} */

#change_location{
    bottom: 120px;
}
#change_location::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(./imgs/tanzaku_me.png);
    background-repeat:no-repeat;
    background-position: center left;
    background-size: cover;
    z-index: -1;
}
/* #change_location::after{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(./imgs/tanzaku_me.png);
    background-repeat:no-repeat;
    background-position: center left;
    background-size: cover;
    z-index: -2;
    transform-origin: bottom left;
    
    filter: contrast(1.5);
}
#change_location:hover::after{
    transform: rotate(-5deg);
} */
#change_constellation_name{
    bottom: 219px;
}
#change_constellation_name::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(./imgs/tanzaku_lu.png);
    background-repeat:no-repeat;
    background-position: center left;
    background-size: cover;
    z-index: -1;
}
/* #change_constellation_name::after{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(./imgs/tanzaku_lu.png);
    background-repeat:no-repeat;
    background-position: center left;
    background-size: cover;
    z-index: -2;
    transform-origin: bottom left;
    
    filter: contrast(1.5);
}
#change_constellation_name:hover::after{
    transform: rotate(-5deg);
} */
#set_now{
    font-size: 25pt;
    display: none;
    bottom: 132px;
}
#set_now::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(./imgs/tanzaku_ri.png);
    background-repeat:no-repeat;
    background-position: center left;
    background-size: cover;
    z-index: -1;
}
/* #set_now::after{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(./imgs/tanzaku_ri.png);
    background-repeat:no-repeat;
    background-position: center left;
    background-size: cover;
    z-index: -2;
    transform-origin: bottom left;
    
    filter: contrast(1.5);
}
#set_now:hover::after{
    transform: rotate(-5deg);
} */
#return_set_time{
    font-size: 27pt;
    display: none;
    bottom: 235px;
}
#return_set_time::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(./imgs/tanzaku_le.png);
    background-repeat:no-repeat;
    background-position: center left;
    background-size: cover;
    z-index: -1;
}
/* #return_set_time::after{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(./imgs/tanzaku_le.png);
    background-repeat:no-repeat;
    background-position: center left;
    background-size: cover;
    z-index: -2;
    transform-origin: bottom left;
    
    filter: contrast(1.5);
}
#return_set_time:hover::after{
    transform: rotate(-5deg);
} */
#return_change_location{
    font-size: 27pt;
    display: none;
    bottom: 219px;
}
#return_change_location::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(./imgs/tanzaku_lu.png);
    background-repeat:no-repeat;
    background-position: center left;
    background-size: cover;
    z-index: -1;
}
/* #return_change_location::after{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(./imgs/tanzaku_lu.png);
    background-repeat:no-repeat;
    background-position: center left;
    background-size: cover;
    z-index: -2;
    transform-origin: bottom left;
    
    filter: contrast(1.5);
}
#return_change_location:hover::after{
    transform: rotate(-5deg);
} */
.operate_button{
    overflow: hidden;
}
.operate_button img.back_star,.back_tanzaku img.back_star ,.back_song_button img.back_star,.song_button img.back_star{
    position: absolute;
    width: 30px;
    z-index: -1;
    opacity: 0.6;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
img.back_milkyway{
    width: 50px;
    position: absolute;
    z-index: -1;
    opacity: 0.7;
}

.operate_button_wrapper {
    position: relative;
    overflow: visible;
    width: fit-content;
}
.back_tanzaku{
    overflow: hidden;
}

#change_time + .back_tanzaku,
#change_location + .back_tanzaku,
#change_constellation_name + .back_tanzaku,
#return_change_location + .back_tanzaku,
#return_set_time + .back_tanzaku,
#set_now + .back_tanzaku,
#run_save + .back_tanzaku,
#save_return + .back_tanzaku,
#return_galaxy + .back_tanzaku,
#agree_return_galaxy + .back_tanzaku,
#disagree_return_galaxy + .back_tanzaku,
#go_observe + .back_tanzaku,
#decide_tanzaku + .back_tanzaku,
#escape_explanation + .back_tanzaku{
    position: absolute;
    inset: 0;
    background-image: url(./imgs/tanzaku_ka.png);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
    z-index: 0;
    transform-origin: bottom left;
    transition: transform 0.2s ease;
    filter: contrast(1.5);
    pointer-events: none; /* hoverの邪魔をしない */
    width: 100%;
    height: 100%;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}
.operate_button_wrapper:hover .back_tanzaku{
    transform: rotate(-5deg);
}
#change_location + .back_tanzaku{
    background-image: url(./imgs/tanzaku_me.png);
}
#change_constellation_name + .back_tanzaku{
    background-image: url(./imgs/tanzaku_lu.png);
}
#return_change_location + .back_tanzaku{
    background-image: url(./imgs/tanzaku_lu.png);
}
#return_set_time + .back_tanzaku{
    background-image: url(./imgs/tanzaku_le.png);
}
#set_now + .back_tanzaku{
    background-image: url(./imgs/tanzaku_ri.png);
}

#loading{
    position: absolute;
    top: 50%;
    left: 50%;
    height: fit-content;
    width: fit-content;
    transform: translateX(-50%) scale(1); 
    z-index: 21;
    & img{
        transform-origin: 140% 50%;
        width: 150px;
        position: absolute;
        animation: loading 1.8s ease-in-out infinite;
    }
    & h1{
        color: white;
        font-family: "nikokaku";
        font-size: 105px;
        white-space: nowrap;
        transform: translateY(170px);
    }
}
@keyframes loading{
    0%,100%,20%{
        transform: translateX(0%);
    }
    10%{
        transform: translateX(-20%);
    }
    18%{
        transform: translateX(5%);
    }
}
#loading_gray{
    background-color: rgba(128, 128, 128, 0.735);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    height: 100%;
    width: 100%;
}
#tanzaku_space::-webkit-scrollbar{
    display: none;
}
#tanzaku_space{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateX(-50%) translateY(-50%);
    width: 10%;
    height: 70%;
    border: rgb(11, 185, 161) 8px inset;
    background-color: #006a05;
    z-index: 3;
    overflow: scroll;
    scrollbar-width: none;
    transition: 0.3s;
    background-image: url(./imgs/sasanoha.png);
    background-repeat:no-repeat;
    background-position: center center;
    display: block;
    & div{
        position: relative;
        transition: 0.3s;
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 95%;
        width: fit-content;
        margin-bottom: 10px;
        margin-top: 10px;
        box-shadow: 10px 10px 3px rgba(56, 50, 85, 0.603);
        & img{
            height: 100%;
            width: 100%;
        }
        & p{
            position: absolute;
            color: rgb(0, 0, 0);
            writing-mode: vertical-rl;
            top: 10%;
            right: 50%;
            transform: translateX(50%);
            font-size: 20pt;
            margin: 0;
            margin-bottom:10px;
            text-orientation: upright;
            font-weight: bold;

        }
    }
}
.rotate{
    display: inline-block;
    transform: rotate(90deg);
}
.slidedown {
    position: relative;
    animation: slideDown 0.5s ease-out forwards;
}
#found_tanzaku_wrapper{
    position: absolute;
    color: white;
    bottom: 0%;
    right: 0%;
    text-align: right;
    z-index: 5;
    transform: translateX(-50%) translateY(-50%);
    padding: 10px;
    padding-left: 30px;
    background-image: url(./imgs/tanzaku_mi.png);
    background-repeat:no-repeat;
    background-position: center left;
    background-size: cover;
    box-shadow: 5px 5px 5px white;
    cursor: auto;
    & p{
        font-family: "nikokaku";
        font-size: 15pt;
        margin: 0;
    }
}
#tanzaku_space_wrapper{
    display: none;
    cursor: auto;
}
#name_galaxy{
    position: absolute;
    top: 75px;
    left: 20px;
    color: white;
    z-index: 5;
    font-family: "nikokaku";
    font-size: 15pt;
    cursor: auto;
    padding: 10px;
    padding-left: 30px;
    background-image: url(./imgs/tanzaku_mi.png);
    background-repeat:no-repeat;
    background-position: center left;
    background-size: cover;
    box-shadow: 5px 5px 5px white;
}
@keyframes slideDown {
    from {
      top: -100px;  /* 初期位置は画面外 */
      opacity: 0;   /* 初めは見えない */
    }
    to {
      top: 0;      /* 最終的には元の位置に */
      opacity: 1;  /* 最終的には完全に表示 */
    }
}
#back_telescope{
    top: 50px;
    right: 4.5%;
    cursor: pointer;
    position: absolute;
    display: none;
    z-index: 3;
    background-color: #0e568d;
    color: white;
    padding: 5px;
    border-radius: 5px;
    border-bottom: 4px solid #08131b;
    box-shadow: 0 3px 5px white;
    font-family: "nikokaku";
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    & h1{
        font-size: 23pt;
        margin: 10px;
    }
    & img{
        position: absolute;
        width: 20px;
        z-index: -1;
        rotate: 0deg;
        transition: 0.5s;
        transform-origin: 50% 50%;
        opacity: 0;
    }
}
#back_telescope:hover img{
    rotate: 720deg;
    transition: 0.5s;
    transform-origin:  50% 50%;
    opacity: 1;
}
#back_telescope:active{
    box-shadow: 0 0 0;
    transform: translateX(-2px) translateY(2px);
}
#all_wrapper,#save_record,#realy_return,#introduce,#write_wish,#first_explanation{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
    z-index: 100;
    display: none;
    padding-top: 7%;
    & h1{
        text-align: center;
        font-family: "nikokaku";
        color: white;
        font-size: 40pt;
        margin: 20px;
    }
    & h2{
        text-align: center;
        font-family: "nikokaku";
        color: white;
        font-size: 30pt;
        margin: 10px;
    }
    & p{
        font-size: 20pt;
        text-align: center;
        font-family: "myfont";
        margin: 10px auto;
        color: white;
    }
    & ul{
        margin: 0 auto;
        width: fit-content;
        text-align: center;
        color: white;
        font-family: "myfont";
        font-size: 18pt;
    }
    & li{
        text-align: center;
    }
}
#first_explanation{
    & p{
        width: fit-content;
        margin: auto;
    }
}
/* #parent_write_tanzaku{
    display: block;
} */
.write_tanzaku{
    width: 120px;
    height: 70%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 5px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    padding: 30px;
    padding-top: 70px;
    box-sizing: border-box;
    font-size: 17pt;
    resize: none;
    overflow: hidden;
    display: inline-block;
    font-family: "れいこ";
    margin: auto;
    display: block;
}
/* #introduce{
    display: block;
} */
#write_wish{
    margin: auto;
    display: none;
    justify-content: center;
    gap: 10%;
    & img.back_tanzaku{
        position: absolute;
        display: block;
        z-index: -1;
    }
}
#return_or_not,#save_return_or_not,#return_galaxy_or_not,#LetsGo,#escape_explanation_parent{
    opacity: 1;
    margin: 25px auto;
    display: flex;
    justify-content: center;
    gap: 100px;
}
#agree_return + .back_tanzaku{
    inset: 0;
    background-image: url(./imgs/tanzaku_mi.png);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
    z-index: 0;
    transform-origin: bottom left;
    transition: transform 0.2s ease;
    filter: contrast(1.5);
    pointer-events: none; /* hoverの邪魔をしない */
    width: 100%;
    height: 100%;
}
#disagree_return + .back_tanzaku{
    inset: 0;
    background-image: url(./imgs/tanzaku_lu.png);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
    z-index: 0;
    transform-origin: bottom left;
    transition: transform 0.2s ease;
    filter: contrast(1.5);
    pointer-events: none; /* hoverの邪魔をしない */
    width: 100%;
    height: 100%;
}
#agree_return,#disagree_return{
    opacity: 1;
    bottom: 0;
    left: 0;
    color:#000000;
}
#agree_return::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(./imgs/tanzaku_mi.png);
    background-repeat:no-repeat;
    background-position: center left;
    background-size: cover;
    z-index: -1;
}
#disagree_return::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(./imgs/tanzaku_lu.png);
    background-repeat:no-repeat;
    background-position: center left;
    background-size: cover;
    z-index: -1;
}
#return_hide{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 300;
    display: none;
}
@keyframes opacity021{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}
@keyframes opacity120{
    from{
        opacity: 1;
    }to{
        opacity: 0;
    }
}
.opacity021{
    animation: opacity021 0.5s ease forwards;
}
.opacity120{
    animation: opacity120 0.5s ease forwards;
}
#take_picture{
    position: absolute;
    bottom: 20px;
    left: 30px;
    color: white;
    display: none;
}
#take_picture::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(./imgs/tanzaku_mi.png);
    background-repeat:no-repeat;
    background-position: center left;
    background-size: cover;
    z-index: -1;
    
}
#take_picture + .back_tanzaku{
    position: absolute;
    top: 0;
    inset: 0;
    background-image: url(./imgs/tanzaku_mi.png);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
    z-index: 0;
    transform-origin: bottom left;
    transition: transform 0.2s ease;
    filter: contrast(1.5);
    pointer-events: none; /* hoverの邪魔をしない */
    width: 100%;
    height: 100%;
}
#save_record{
    display: none;
    padding-top: 10%;
    & h2{
        padding-top: 15px;
        font-size: 25pt;
        font-family: "nikokaku";
        color: white;
        display: block;
        margin: 0;
    }
}
#run_save + .back_tanzaku{
    background-image: url(./imgs/tanzaku_mi.png);
}
#save_return + .back_tanzaku{
    background-image: url(./imgs/tanzaku_lu.png);

}
#run_save,#save_return{
    position: relative;
    opacity: 1;
    bottom: 0;
    left: 0;
    color:#000000;
}
#run_save::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(./imgs/tanzaku_mi.png);
    background-repeat:no-repeat;
    background-position: center left;
    background-size: cover;
    z-index: -1;
}
#save_return::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(./imgs/tanzaku_lu.png);
    background-repeat:no-repeat;
    background-position: center left;
    background-size: cover;
    z-index: -1;
}
.parent_setting{
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 20px;
}
#switch_area1,#switch_area2,#switch_area3,#switch_area3_2{
    line-height: 60px;
    text-align: center;
    font-size: 20pt;
    position: relative;

    width: 180px;
    cursor: pointer;
}
#switch_area1 input,#switch_area2 input,#switch_area3 input,#switch_area3_2 input{
    display: none;
}
#switch_area1 label,#switch_area2 label,#switch_area3 label,#switch_area3_2 label{
    cursor: pointer;
    display: block;
    height: 60px;
    background-color:#33454e;
    border: 5px solid #464b4f;
    border-radius: 30px;
}
#switch_area1 input:checked + label,#switch_area2 input:checked + label,#switch_area3 input:checked + label,#switch_area3_2 input:checked + label{
    cursor: pointer;
    border-color: #ffffff;
    background-color:#4c59ab;
}
#switch_area1 label:after,#switch_area2 label:after{
    content: "非表示";
    font-family: "nikokaku";
    color: #92c1e4;
}
#switch_area3 label:after,#switch_area3_2 label:after{
    content: "OFF";
    font-family: "nikokaku";
    color: #92c1e4;
}
#switch_area1 input:checked + label:after,#switch_area2 input:checked + label:after{
    content: "表示";
    font-family: "nikokaku";
    color: #92c1e4;
}
#switch_area3 input:checked + label:after,#switch_area3_2 input:checked + label:after{
    content: "ON";
    font-family: "nikokaku";
    color: #92c1e4;
}
#switch_area1 img#swing1,#switch_area2 img#swing2,#switch_area3 img#swing3,#switch_area3_2 img#swing3_2{
    position: absolute;
    width: 60px;
    height: 60px;
    top: 5px;
    left: 0%;
    transition: 0.2s;
    transform: translateX(-50%) rotate(0deg);
}
#switch_area1 input:checked ~ img#swing1,#switch_area2 input:checked ~ img#swing2,#switch_area3 input:checked ~ img#swing3,#switch_area3_2 input:checked ~ img#swing3_2{
    transition: 0.2s;
    transform: translateX(calc(180px - 50%)) rotate(360deg);
    filter: hue-rotate(270deg) saturate(7);
}
#return_galaxy{
    display: none;
    bottom: 120px;
}
#return_galaxy::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(./imgs/tanzaku_ri.png);
    background-repeat:no-repeat;
    background-position: center left;
    background-size: cover;
    z-index: -1;
}
#return_galaxy + .back_tanzaku{
    background-image: url(./imgs/tanzaku_ri.png);
}
#realy_return{
    display: none;
}
#agree_return_galaxy,#disagree_return_galaxy{
    position: relative;
    top: 0;
    left: 0;
    color: white;
}
#agree_return_galaxy::before,#disagree_return_galaxy::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(./imgs/tanzaku_mi.png);
    background-repeat:no-repeat;
    background-position: center left;
    background-size: cover;
    z-index: -1;
}
#disagree_return_galaxy::before{
    background-image: url(./imgs/tanzaku_me.png);
}
#agree_return_galaxy + .back_tanzaku{
    background-image: url(./imgs/tanzaku_mi.png);
}
#disagree_return_galaxy + .back_tanzaku{
    background-image: url(./imgs/tanzaku_me.png);
}



#go_observe,#decide_tanzaku,#escape_explanation{
    color: white;
    position: relative;
    top: 0;
    left: 0;
}
#go_observe::before,#decide_tanzaku::before,#escape_explanation::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(./imgs/tanzaku_mi.png);
    background-repeat:no-repeat;
    background-position: center left;
    background-size: cover;
    z-index: -1;
    
}
#go_observe + .back_tanzaku,#decide_tanzaku + .back_tanzaku,#escape_explanation + .back_tanzaku{
    background-image: url(./imgs/tanzaku_mi.png);
}

#decide_tanzaku{
    width: fit-content;
    margin: auto;
    margin-top: 50px;
}

/* @property --bg-img{
    
} */
body{
    --bgimg:url(/src/imgs/tanzaku_mi.png);
    --bgimg2:url(/src/imgs/tanzaku_mi.png);
    --bgimg3:url(/src/imgs/tanzaku_everyone.png);
    --bgimg4:url(/src/imgs/tanzaku_mi.png);
}
#change_color,#change_line_color{
    /*  */
    margin: auto;
    margin-top: 100px;
    width: fit-content;
    color: black;
    position: relative;
    top: 0;
    left: 0;
}
#change_color::before,#change_line_color::before{
    content: "";
    position: absolute;
    display: block;
    inset: 0;
    background-image:  var(--bgimg);
    background-repeat:no-repeat;
    background-position: center left;
    background-size: cover;
    z-index: -1;
    
}
#change_color_back,#change_line_color_back{
    position: absolute;
    inset: 0;
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
    z-index: 0;
    transform-origin: bottom left;
    transition: transform 0.2s ease;
    filter: contrast(1.5);
    pointer-events: none; /* hoverの邪魔をしない */
    width: 100%;
    height: 100%;
    background-image: var(--bgimg2);
}

.operate_button_wrapper:has(#change_line_color){
    margin: 0 auto;
}

#change_line_color{
    width: fit-content;
    margin: 20px 0;
}
#change_line_color::before{
    background-image:  var(--bgimg3);
}
#change_line_color_back{
    background-image: var(--bgimg4);
}



@media (max-width: 1550px) {
    #change_time,#change_location,#change_constellation_name,#set_now,#return_set_time,#return_change_location,#agree_return,#disagree_return,#take_picture,#run_save,#save_return,#return_galaxy,#agree_return_galaxy,#disagree_return_galaxy,#go_observe,#escape_explanation{
        font-size: 17pt;
        padding: 20px;
    }
    #select_galaxy{
        font-size: 18pt;
    }
    #galaxy_container_left,#galaxy_container_right{
        & .song_button_wrapper div:not(.back_song_button){
            font-size: 14pt;
            margin: 35px 15px;
        }
    }
    .back_song_button span{
        font-size: 11pt;
    }
    #start_observe{
        & img{
            height: 40px;
        }
        & p{
            margin: 13px 0;
        }
    }
    #observe_gauge{
        top: 52%;
        height: 65%;
    }
    #tanzaku_space{
        & div p{
            font-size: 15pt;
        }
    }
    #all_wrapper,#save_record,#realy_return,#introduce,#write_wish,#first_explanation{
        padding-top: 5%;
    }
    #loading{
        transform: translateX(-30%) scale(1); 
        & img{
            
            width: 100px;
        }
        & h1{
            font-size: 70pt;
        }
    }
    #info_icon{
        left: 250px;
    }
    #gyro_setting_icon{
        right: 60px;
        bottom: 65px;
    }
}

#reset_rotate_origin{
    position: absolute;
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.332);
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    padding: 10px;
    font-family: "myFont";
    font-size: 10pt;
    display: none;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

@keyframes go_above{
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        transform: translateY(-200%);
        opacity: 0;
    }
}
.go_above{
    animation: go_above 0.5s ease forwards;
}

.big_font{
    font-size: 30pt !important;
}
@media (max-width: 1000px) {
    #change_time,#change_location,#change_constellation_name,#set_now,#return_set_time,#return_change_location,#agree_return,#disagree_return,#take_picture,#run_save,#save_return,#return_galaxy,#agree_return_galaxy,#disagree_return_galaxy,#go_observe,#escape_explanation,#change_color,#decide_tanzaku,#change_line_color{
        min-width: 130px;
        font-size: 10pt;
        padding: 10px;
    }
    #change_time,#take_picture{
        font-size: 10pt;
        bottom: 5px;
    }
    #change_location,#return_galaxy{
        bottom: 50px;
    }
    #set_now{
        bottom: 60px;
    }
    #change_constellation_name,#return_change_location{
        bottom: 95px;
    }
    #return_set_time{
        bottom: 105px;
    }


    #select_galaxy{
        font-size: 10pt;
        padding: 10px;
    }
    #galaxy_container_left,#galaxy_container_right{
        & .song_button_wrapper div:not(.back_song_button){
            color: rgb(79, 79, 79);
            font-size: 10pt;
            margin: 20px 5px;
            padding-left: 1.3em;
        }
    }
    .back_song_button span{
        font-size: 7pt;
    }
    #start_observe{
        bottom: 10px;
        & img{
            height: 20px;
        }
        & p{
            font-size: 10pt;
            margin: 3px 0;
        }
    }
    #observe_gauge{
        top: 52%;
        height: 55%;
    }
    #observe_gauge img.back_star{
        width: 5px;
        height: 5px;
    }
    #tanzaku_space{
        & div p{
            font-size: 8pt;
        }
    }
    #all_wrapper,#save_record,#realy_return,#introduce,#write_wish,#first_explanation{
        & h1{
            font-size: 16pt;
        }
        & h2{
            font-size: 10pt;
        }
        & p,li{
            font-size: 7pt;
        }
        padding-top: 1%;
    }
    #save_record{
        padding-top: 0%;
        & #switch_area2,#switch_area1{
            transform: scale(0.4);
        }
    }
    #save_return_or_not{
        margin: 15px auto;
    }
    .parent_setting{
        height: 35px;
        gap: 30px;
        margin-top: 10px;
    }
    .write_tanzaku{
        width: 50px;
        height: 250px;
        padding: 10px;
        padding-top: 35px;
        font-size: 10pt;
    }
    #parent_write_tanzaku{
        margin-top: 10px;
    }
    #loading{
        transform: translateX(-30%) scale(1); 
        & img{
            width: 50px;
        }
        & h1{
            font-size: 50pt;
        }
    }
    #show_time_and_location{
        width: 180px;
        font-size: 7pt;
    }
    #direction_parent{
        user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
        height: 30px;
        & img{
            height: 100%;
        }
    }
    #angle_parent{
        width: 30px;
        
    }
    .angles{
        font-size: 10pt;
    }
    .big_font{
    font-size: 15pt !important;
    }
    #name_galaxy{
        top: 30px;
        font-size: 8pt;
        padding: 5px;
        padding-left: 20px;
        box-shadow: 3px 3px 5px white;
    }
    #found_tanzaku_wrapper{
        padding: 5px;
        bottom: -2%;
        right: -2%;
        padding-left: 15px;
        box-shadow: 3px 3px 5px white;
        & p{
            font-size: 8pt;
        }
    }
    #gyro_settings,#info_operate,#warn_past{
        padding: 10px;
        text-align: center;
        & h1{
            margin: 0;
            font-size: 15pt;
        }
        & p{
            font-size: 8pt;
        }
        #switch_area3_2{
            margin: 0 50px;
        }
        & #switch_area3,#switch_area3_2{
            transform: scale(0.4);
        }
    }
    #change_color,#decide_tanzaku{
        margin: auto;
        margin-top: 30px;
        
    }
    .firstQ_child{
        width: 150px;
        font-size: 13pt;
        padding: 10px;
    }
    #supplement_info{
        font-size: 5pt;
    }
    #location_firstQ{
        top: 40%;
    }
    #warn_past{
        padding: 40px;
    }
    .japan_option_child,.world_option_child{
        font-size: 10pt;
        padding: 10px;
    }
    .world_option_child{
        width: 60px;
        font-size: 8pt;
    }
    #info_icon{
        left: 150px;
    }
    #gyro_setting_icon{
        bottom: 50px;
        right: 40px;
        width: 30px;
        height: 30px;
    }
    #back_telescope{
        top: 10px;
        & h1{
            font-size: 14pt;
            margin: 3px;
        }
        & img{
            position: absolute;
            width: 15px;
            z-index: -1;
            rotate: 0deg;
            transition: 0.5s;
            transform-origin: 50% 50%;
            opacity: 0;
        }
    }
}

.landscape-only {
  display: none;
}

@media screen and (orientation: landscape) {
  .landscape-only {
    display: block;
  }
  .portrait-warning {
    display: none;
  }
}

@media screen and (orientation: portrait) {
  .landscape-only {
    display: none;
  }
  .portrait-warning {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background: black;
    color: white;
    font-size: 2rem;
  }
}